*{
    font-family: 'Open Sans', sans-serif;
}

button:focus, button:active {
    outline: none !important;
    box-shadow: none;
 }

 a {
     text-decoration: none;
     color: whitesmoke;
 }

 a:hover{
    text-decoration: none;
    color: whitesmoke;
 }

 header{
     position: fixed;
     top: 0;
     width: 100vw;
     background-color: transparent;
     z-index: 5;
     transition: .3s;
 }

 header:hover{
     background-color: rgba(255, 155, 0, 1) !important;
 }

 header nav a img{
     width: 40px;
     height: 40px;
     opacity: .85;
 }

 .navbar-toggler {
     /* border-color: rgb(41, 43, 44); */
 }

 .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(41, 43, 44, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") ;
 }

.jumbotron {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    background-color:black;
    height: 80vh;
    margin-bottom: 0;
}

.jumbotron video {
    position: absolute;
    z-index: 1;
    top: 0;
    width:100%;
    height:100%;
    /*  object-fit is not supported on IE  */
    object-fit: cover;
    opacity:0.5;
}

.jumbotron .container {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: relative;
    color: white;
}
  
#signUp{
      width: 15em;
      height: 3em;
      border-radius: 3em;
      border: 1px solid whitesmoke;
      background-color: transparent;
      color: whitesmoke;
      transition: .2s;
}

#signUp:hover{
      background-color: rgba(255, 155, 0, .9);
      box-shadow: 4px 4px 4px rgba(0, 0, 0, .6);
}

#signUp:active{
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0) !important;
}

#inputDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(41, 43, 44);
    height: 5em;
}

#inputDiv label{
    margin: 0;
    color: whitesmoke;
}

#start, #end, #genBtn{
    line-height: -17px;
    padding: 1.2em;
    height: 2.5em;
    margin: 1em;
}

#start {
    border-radius: 1em;
    border: none;
}

#end {
    border-radius: 1em;
    border: none;
}

#start:focus, #end:focus, #button:focus {
    border: none;
    outline: none;
}

#genBtn {
    display: flex;
    align-items: center;
    border-radius: 1em;
    border: 1px solid whitesmoke;
    color: rgb(41, 43, 44);
    background-color: rgba(255, 155, 0, 1);
    line-height: 2em;
}

#genBtn:hover {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .6);
}

#genBtn:active{
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0) !important;
}

thead th{
    vertical-align: middle !important;
    background-color: rgb(81, 83, 84) !important;
}

th:nth-child(2){
    text-align: start;
}

tr{
    vertical-align: text-top;
    text-align: center;
}

td:nth-child(2){
    text-align: start;
}

tr:hover{
    background-color: rgba(255, 155, 0, 1);
}

td:hover{
    background-color: rgba(250, 190, 97, 1);
}

#histHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: rgba(255, 155, 0, 1);
}

#histHeader{
    background-color: rgb(41, 43, 44);
    color: whitesmoke;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 10px;
}

#histogram {
    display: flex;
    flex-direction: row-reverse;
    height: 40vh;
    transform: rotate(180deg);
    width: 92%;
    margin-bottom: -1px;
}

.divBar {
    position: relative;
    top: 0;
    margin: 0;
    background-color: rgb(41, 43, 44);
}

.divBar:hover{
    background-color: whitesmoke!important;
    transform: rotate(180deg);
    z-index: 1 !important;
    margin: 0;
    /* box-shadow: 4px 4px 4px rgba(0, 0, 0, .6); */

}

.divBar .divBarSpan {
    position: absolute;
    left: -60px;
    top: -85px;
    background-color: rgb(41, 43, 44);
    color: whitesmoke;
    width: 8.8em;
    border-radius: 5px;
    margin-bottom: 0;
}

.divBar:hover .divBarSpan {
    border: 1px dotted whitesmoke;
    visibility: visible !important;
    display:  block !important;
    z-index: 1 !important;
    margin-bottom: 0;
}

#furtherInfo {
    background-color: rgb(41, 43, 44);
    color: whitesmoke;
    padding: 20px;
    margin: 0;
}

#furtherInfo h1 {
    background-color: rgb(41, 43, 44);
    color: whitesmoke;
}

#furtherInfo ul {
    margin-bottom: 0;
}

footer {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 0;
    width: 100%;
    align-items: center;
    background-color: rgb(41, 43, 44);
    color: white;
    margin-top: 0;
}

footer p {
    margin-bottom: 0;
}

footer img{
    width: 40px;
    height: 40px;
    width: 40px;
    height: 40px;
    margin: 10px 20px 10px 20px;
}